:root {
  --dark-green2: #366827;
  --dark-green: #4eb700;
  --light-greenp: #85ce14;
  --white: #fff;
  --light-green: #84d232;
  --light-bg: #eee;
  --border:.1rem solid rgba(0,0,0,.2);
}

:root {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* .Timer-App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.imageContainer {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.tminute {
  font-weight: 700;
  background: -webkit-linear-gradient(#4eb700, #85ce14);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.minute {
  font-size: 18px;
  font-weight: 700;
  background: -webkit-linear-gradient(#4eb700, #85ce14);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  margin-left: 250px;
}

.successStatus{ 
  background-color: #83cc14 !important;
  color: #fff !important;
  border-radius: .3rem;
  width: 4rem;
}

.failureStatus{ 
  background-color: #EE4B2B !important;
  color: #fff !important;
  border-radius: .3rem;
  width: 4rem;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

